{% extends 'portfolio/base.html' %}
{% block content %}


    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-4 bg-success" id="myScrollspy">
            <div class="card" style="width: 18rem;">
                {% for profile in profiles %}
                <img src="{{ profile.image.url }}" class="card-img-top rounded-circle" alt="...">

                {% endfor %}
                <div class="card-body">
                  <h4 class="card-title">COLLINS KIPKOECH</h4>
                  <h6></h6>FULL-STACK DEVELOPER</h6>

                  
                </div>
                <ul class="list-group list-group-flush bg-success">
                  <li class="list-group-item">SCHOOL: MORINGA SCHOOL</li>
                  <li class="list-group-item">LANGUAGES: Javascript, Python, HTML, CSS</li>
                  <li class="list-group-item">FRAMEWORK: Django, Angular, BOOTSTRAP</li>
                </ul>
                
              </div><br>
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#section1">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section3">Contacts</a>
            </li>
            
            
          </ul>
        </nav>
        <div class="col-sm-9 col-8 fixed">
          <div id="section1" class="bg-info">    
            <h1 class="ml-3">Projects</h1>
            {% for project in projects %}
            <div class="card text-center">
              <div class="card-header">
                <img src="{{ project.image.url }}" class="rounded" alt="" height="300px">
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{{ project.link }}" class="btn btn-primary">Visit site</a>
              </div>
              <div class="card-footer text-muted">
                posted on: {{ project.date_posted }}
              </div>
            </div>
            {% endfor %}
            
          </div>
          <div id="section2" class="bg-info"> 
            <h1>Contact Me</h1>
            <p>Email: collinskipkoech95@gmauil.com</p>
            <p>Phone: 0715023823</p>
          </div>        
          <div id="section3" class="bg-info">         
            <h1>CV</h1>
            
            
          </div>
          
        </div>
      </div>
    </div>
    
    
{% endblock content %}